/* Police 1 : Norse-bold (logo) */
@font-face {
	font-family: 'Norse';
	src: url('../fonts/Norse-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

/* Police : Haffer */
/* Regular */
@font-face {
	font-family: 'Haffer-Regular';
	src: url('../fonts/Haffer/Haffer/Haffer-TRIAL-Medium.woff2') format('woff2');
	font-style: normal;
}

/* Bold */
@font-face {
	font-family: 'Haffer-Bold';
	src: url('../fonts/Haffer/Haffer/Haffer-TRIAL-Bold.woff2') format('woff2');
	font-style: bold;
}

/* Italic */
@font-face {
	font-family: 'Haffer-Italic';
	src: url('../fonts/Haffer/Haffer/Haffer-TRIAL-MediumItalic.woff2') format('woff2');
	font-style: italic;
}

/* Semi-Bold */
@font-face {
	font-family: 'Haffer-Semi-Bold';
	src: url('../fonts/Haffer/Haffer/Haffer-TRIAL-SemiBold.woff2') format('woff2');
}

:root {
	--button-bg: #596d48;
	--input-border: #e5e7eb;
	--font-main-regular: 'Haffer-Regular', sans-serif;
	--font-main-bold: 'Haffer-Bold', sans-serif;
	--font-main-italic: 'Haffer-Italic', sans-serif;
	--font-main-semi-bold: 'Haffer-Semi-Bold', sans-serif;
	--font-logo: 'Norse', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Aside part */
aside {
	background-image: url('../img/bg-aside.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header {
}

.wrapper {
	display: flex;
	width: 100vw;
	height: 100vh;
}

aside {
	width: 30vw;
	display: flex;
	justify-content: center;
}

.logo-wrapper {
	display: flex;
	height: 130px;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	margin-top: 25vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.logo-wrapper img {
	max-width: 90%;
	max-height: 90%;
	height: auto;
	width: auto;
}

.logo-wrapper h1 {
	color: white;
	font-family: var(--font-logo);
	font-size: 5rem;
}

aside p {
	color: white;
	font-family: var(--font-main-regular);
	position: absolute;
	bottom: 0;
	margin-bottom: 15px;
}

aside p a {
	color: white;
}

/* Right part */
/* Header */
main {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	background-color: #f9fafb;
}

header,
footer {
	height: calc(100vh / 4);
}

header {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	font-family: var(--font-main-semi-bold);
	margin-left: 4rem;
	gap: 50px;
}

header em {
	margin: 0.1em;
}

header p {
	font-size: 1.5rem;
	max-width: 60ch;
}

/* Footer */
footer div {
	display: flex;
	flex-direction: column;
	margin-left: 4rem;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	gap: 20px;
	width: fit-content;
}

button {
	background-color: #596d48;
	color: white;
	text-align: center;
	padding: 1em 4em;
	font-family: var(--font-main-semi-bold);
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 10px;
}

footer div p {
	font-family: var(--font-main-regular);
}

footer div p a {
	color: #596d48;
	text-decoration: none;
}

/* Form */
form {
	background-color: white;
	min-height: calc(100vh / 3);
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 50px;
}

fieldset {
	margin-left: 4rem;
	border: none;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.fieldset-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

fieldset h1 {
	font-family: var(--font-main-regular);
}

fieldset p {
	font-family: var(--font-main-regular);
	font-size: 0.7rem;
	color: grey;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form-row {
	display: flex;
	gap: 150px;
	align-items: center;
}

.form-input {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

label {
	font-family: var(--font-main-regular);
	text-transform: uppercase;
	font-size: 0.75rem;
	color: grey;
}

input {
	padding: 4px 0px 4px 10px;
	border-radius: 4px;
	border: 1px solid black;
}

input:focus {
	border: 1px solid blue;
	outline: none;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

input:invalid {
	border: 1px solid red;
	outline: none;
}
